* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: "Inter", sans-serif;
    /* background-image: url(/images/hero-right-image.jpg);
    background-size:1540px 780px;
    background-repeat: no-repeat;
    overflow: hidden; */
    background: linear-gradient(135deg, rgb(71, 87, 235, 1),rgba(146, 155, 238, 1), rgb(247, 247, 249));

}
.nav-bar {
    display: flex;
    flex-direction: row;
}